// colors
$blue=                          #3D8EF4
$blue-dark=                     #1C64F2
$yellow=                        #FFBE05
$red=                           #F31661
$grey=                          #9E9E9E
$green=                         #14CC35